[defaults]
inventory = inventory.example.yml
retry_files_enabled = False
interpreter_python = /usr/bin/python3
host_key_checking = True
display_skipped_hosts = False

[privilege_escalation]
become = True
become_method = sudo
